---
layout: default
---

<!-- Main body -->
<!-- About section -->
<section class="fit-section" id="about-section">
    <div class="container d-flex h-100">
        <div class="row card-wrapper align-self-center">
            <div class="col-md-6 card image-half">
                <div class="" id="profile-pic">
                    <img class="img-fluid rounded-circle" src="/assets/images/profile-pic.jpg">
                </div>
                <div class="card-body">
                    <h2 class="card-title text-center">{{site.author.name}}</h1>
                    <hr style="width: 10%;">
                    <h6 class="job-title text-center lead lp-1">{{site.author.job-title}}</h5>
                </div>
            </div>
            <div class="col-md-6 info-half my-auto">
                <h1 class="display-3" >Hello,</h1>
                <br>
                <p>{{site.author.description}}</p>
                <br>
                <a class="btn" href="/assets/files/test.pdf">Download CV</a>
            </div>
        </div>
    </div>
</section>
<!-- Resume section -->
<section class="my-5" id="resume-section">
    <div class="container">
        <div class="education pb-5">
            <h1 class="invert bold">Education</h1>
            <div class="timeline">
                <div class="content row">
                    {% for item in site.data.resume.education %}
                    <div class="timeline-wrapper col-md">
                            <h5>{{item.year}}</h5>
                            <h4 class="font-weight-bold mt-3 mb-0">{{item.degree-field}}</h4>
                            <p class="text-muted"><i class="fas fa-map-marker-alt pr-2"></i>{{item.school-name}}</p>
                            <p>{{item.desc}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="experience">
            <h1 class="invert bold">Experience</h1>
            <div class="timeline">
                <div class="content row">
                    {% for item in site.data.resume.experience %}
                    <div class="timeline-wrapper col-md">
                        <h5 class="my-0">{{item.year}}</h5>
                        <small class="text-muted font-italic">{{item.duration}}</small>
                        <h4 class="font-weight-bold mt-3 mb-0">{{item.position}}</h4>
                        <p class="text-muted"><i class="fas fa-map-marker-alt pr-2"></i>{{item.company-name}}</p>
                        <p class="font-weight-light">{{item.desc}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Project section -->
<section class="my-5" id="project-section">
    <div class="container">
        <h1 class="invert bold">Projects</h1>
        <div class="gallery row mt-5">
            {% for project in site.data.project %}
            <div class="project-wrapper col-md-6 pr-4 mb-4" data-background-image="{{project.cover-image}}">
                <img src="{{project.cover-image}}" alt="Project cover image" class="project-cover">
                <a href="{{project.url}}">
                    <div class="project-overlay">
                        <div class="text-nowrap mx-4 my-4">
                            <h4 class="underline">{{project.name}}</h4>
                            <p class="font-weight-light ">{{project.description}}</p>
                            <p class=" mb-0 font-weight-bold">Tags:</p>
                            <p class="font-weight-light">{{project.tags}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Skill section -->
<section class="my-5" id="skill-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr-4" id="language-skill">
                <h2 class="font-weight-bold underline">Languages</h2>
                <div class="my-4">
                    <div class="row skill-hl">
                        <p class="col-md-4 font-weight-light">Vietnamese</p>
                        <p class="col-md-8 text-right font-italic">Native</p>
                    </div>
                    <div class="row skill-hl">
                        <p class="col-md-4 font-weight-light">Japanese</p>
                        <p class="col-md-8 text-right font-italic">N5</p>
                    </div>
                    <div class="row skill-hl">
                        <p class="col-md-4 font-weight-light">English</p>
                        <p class="col-md-8 text-right font-italic">IELTS 6.5</p>
                    </div>
                    <div class="row my-3">
                        <div class="col-3">{% include circle-progress-bar.html size="small" percent="72" value="6.5" label="Listening" %}</div>
                        <div class="col-3">{% include circle-progress-bar.html size="small" percent="83" value="7.5" label="Reading" %}</div>
                        <div class="col-3">{% include circle-progress-bar.html size="small" percent="67" value="6.0" label="Writing" %}</div>
                        <div class="col-3">{% include circle-progress-bar.html size="small" percent="55" value="5.0" label="Speaking" %}</div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="col-md-6 pl-4" id="programming-skill">
                <h2 class="font-weight-bold underline">Programming</h2>
                <div class="my-4">
                    {% for skill in site.data.skill %}
                        {% capture skillName %}{{skill.name}}{% endcapture %}
                        {% capture skillPercent %}{{skill.percent}}{% endcapture %}
                        {% include skill-bar.html name=skillName percent=skillPercent %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-center py-5" id="github">
            <a class="btn d-flex h-100 align-items-center py-2" href="https://github.com/minhduy-ringo"><span class="align-middle text-uppercase lp-1 pr-3">My github</span><i class="fab fa-github fa-2x"></i></a>
        </div>
    </div>
</section>
<!-- Contact section -->
<section class="my-5" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="invert bold w-100 text-center">Contact me</h1>
                <div class="d-flex justify-content-star">
                    <a class="social-icon" href="https://www.facebook.com/duyAkaRingo/"><i class="fab fa-facebook-square fa-lg"></i></a>
                    <a class="social-icon" href="https://join.skype.com/invite/VgcctamdfB8v"><i class="fab fa-skype fa-lg"></i></a>
                    <a class="social-icon" href="https://www.linkedin.com/in/võ-minh-duy-199817179/"><i class="fab fa-linkedin fa-lg"></i></a>
                </div>
            </div>
            <div class="col-6 pl-4 border-bottom">
                <div class="row">
                    <p class="col-xl-2 text-uppercase">Phone</p><p class="col-xl-10 font-weight-light">{{site.author.phonenumber}}</p>
                    <p class="col-xl-2 text-uppercase">Email</p><a class="col-xl-10 font-weight-light" href="mailto:minhduy.ringo@gmail.com">{{site.author.email}}</a>
                    <p class="col-xl-2 text-uppercase">Location</p><p class="col-xl-10 font-weight-light">{{site.author.location}}</p>
                </div>
            </div>
        </div>
    </div>
</section>