<!-- Circle progress bar template -->
<div class="progress mx-auto {{include.size}}" data-value="{{include.percent}}">
    <span class="progress-left">
        <span class="progress-bar circle-bar-yellow"></span>
    </span>
    <span class="progress-right">
        <span class="progress-bar circle-bar-yellow"></span>
    </span>
    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
        <div class="h6 my-0">{{include.value}}</div>
    </div>
</div>
<p class="text-center font-weight-light pt-2">{{include.label}}</p>